.custom-nav{
    height: 70px !important;
    z-index: 10000px;
    
}
.custome-home{
    margin-top: 70px;
}

.custom-font-weight-logo{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: black;
}
.nave-bg{
    background-color: #dc965a;
}
.custom-font-weight{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size:14px;
}
.custom-h3{
    font-weight: 500;
    font-family: 'Nunito', sans-serif;


}
.custom-h1{
    font-weight: 700;
    font-family: 'Nunito', sans-serif;


}
.custom-h2{
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}
.custom-about-h31{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito', sans-seri;

}
.custom-about-h5{
    font-weight: 600;
    font-family: 'Nunito', sans-seri;
}
.background-custom-about1{
    background-color: #dc965a;
}
.custom-about-p1{
    font-size: 20px;
    color: #5e6472;
    font-weight: 400;
    font-family: 'Nunito', sans-seri;
}
.custom-about-p2{
    font-size: 16px; 
    color: #5e6472;
    font-weight: 400;
    font-family: 'Nunito', sans-seri;
}
.custome-link-about{
    background-color: #dc965a !important;
    width: 130px !important;
    height: 46px !important;
    font-family: 'Nunito', sans-seri !important;
    font-weight: 600 !important;
}
.custom-div-about{
    padding-left: 100px;
    padding: ;
}
.custom-img-about{
    box-shadow: 0px 25px 50px -12px rgba(0,0,0,0.25) ;
}
.custom-h3-service{
    font-weight: 800;
    font-family:  'Nunito', sans-seri !important ;
}
body{
    height: 2000px;
}
